In [2]:
# 1. abs()
# 설명: 숫자의 절대값을 반환합니다.

print(abs(-10))

10

In [4]:
# 2. all()
# 설명: iterable의 모든 요소가 참이면 True를 반환합니다.

print(all([True, 1, "a"]))  # 출력: True
print(all([True, 0, "a"]))  # 출력: False

True
False

In [5]:
# 3. any()
# 설명: iterable에 하나라도 참인 요소가 있으면 True를 반환합니다.

print(any([False, 0, "a"]))  # 출력: True
print(any([False, 0, None]))  # 출력: False

True
False

In [7]:
# 4. chr()
# 설명: 정수를 유니코드 문자로 변환합니다.

print(chr(65))  # 출력: 'A'

A

In [8]:
# 5. dir()
# 설명: 객체가 지닌 변수나 함수를 보여주는 함수

print(dir([]))  # 출력: 리스트 객체의 메서드 목록

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [9]:
# 6. divmod()
# 설명: 두 숫자를 나눈 몫과 나머지를 튜플로 반환합니다.

print(divmod(7, 3))  # 출력: (2, 1)

(2, 1)

In [10]:
# 7. enumerate()
# 설명: iterable에서 (인덱스, 값) 형태의 튜플을 반환합니다.

for i, v in enumerate(['a', 'b']):
    print(i, v)  # 출력: 0 a, 1 b

0 a
1 b

In [11]:
# 8. eval()
# 설명: 문자열로 된 표현식을 실행합니다.

print(eval("1 + 2"))  # 출력: 3

3

In [13]:
# 9. filter()
# 설명: 조건을 만족하는 요소만 반환합니다.

def positive(x):
    return x > 0

print(list(filter(positive, [1, -3, 2, 0, -5, 6])))

[1, 2, 6]

In [14]:
# 10. hex()
# 설명: 정수를 16진수 문자열로 변환합니다.

print(hex(255))  # 출력: '0xff'

0xff

In [20]:
# 11. id()
# 설명: 객체의 고유 식별자를 반환합니다.
# 3, a, b가 모두 같은 객체를 가리키고 있다.

a = 3
b = a

print(id(3))
print(id(a))
print(id(b))

140731569744376
140731569744376
140731569744376

In [21]:
# 12. input()
# 설명: 사용자 입력을 받습니다.

name = input("Enter your name: ")
print(f"Hello, {name}")

Enter your name:  하서

Hello, 하서

In [22]:
# 13. int()
# 설명: 값을 정수로 변환합니다.

print(int("123"))  # 출력: 123
print(int(12.5))   # 출력: 12

123
12

In [26]:
# 14. isinstance()
# 설명: 객체가 특정 클래스의 인스턴스인지 확인합니다.

class Person: pass

a = Person()
isinstance(a, Person)

True

In [27]:
# 15. len()
# 설명: 객체의 길이를 반환합니다.

print(len([1, 2, 3]))  # 출력: 3

3

In [28]:
# 16. list()
# 설명: 값을 리스트로 변환합니다.

print(list("abc"))  # 출력: ['a', 'b', 'c']

['a', 'b', 'c']

In [30]:
# 17. map()
# 설명: 함수와 iterable을 받아 각 요소에 함수를 적용합니다.
    
def two_times(x): 
     return x*2

list(map(two_times, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [31]:
# 18. max()
# 설명: iterable에서 최댓값을 반환합니다.

print(max([1, 2, 3]))  # 출력: 3

3

In [32]:
# 19. min()
# 설명: iterable에서 최솟값을 반환합니다.

print(min([1, 2, 3]))  # 출력: 1

1

In [33]:
# 20. oct()
# 설명: 정수를 8진수 문자열로 변환합니다.

print(oct(8))  # 출력: '0o10'

0o10

In [34]:
# 22. ord()
# 설명: 문자를 정수 유니코드로 변환합니다.

print(ord('A'))  # 출력: 65

65

In [36]:
# 23. pow()
# 설명: 거듭제곱을 계산합니다.

print(pow(2, 3))       # 출력: 8

8

In [37]:
# 24. range()
# 설명: 정수 범위를 생성합니다.

print(list(range(5)))       # 출력: [0, 1, 2, 3, 4]
print(list(range(1, 5)))    # 출력: [1, 2, 3, 4]
print(list(range(1, 10, 2))) # 출력: [1, 3, 5, 7, 9]

[0, 1, 2, 3, 4]
[1, 2, 3, 4]
[1, 3, 5, 7, 9]

In [38]:
# 25. round()
# 설명: 숫자를 반올림합니다.

print(round(3.14159, 2))  # 출력: 3.14

3.14

In [44]:
# 26. sorted()
# 설명: iterable을 오름차순으로 정렬한 리스트를 반환합니다.

print(sorted([3, 1, 2]))  # 출력: [1, 2, 3]
print(sorted(['c', 'a', 'b'])) 
print(sorted(['나', '다', '가']))

[1, 2, 3]
['a', 'b', 'c']
['가', '나', '다']

In [42]:
# 27. str()
# 설명: 값을 문자열로 변환합니다.

print(str(123))  # 출력: '123'

123

In [45]:
# 28. sum()
# 설명: iterable의 합을 반환합니다.

print(sum([1, 2, 3]))  # 출력: 6

6

In [46]:
# 29. tuple()
# 설명: 값을 튜플로 변환합니다.

print(tuple([1, 2, 3]))  # 출력: (1, 2, 3)

(1, 2, 3)

In [47]:
# 30. type()
# 설명: 객체의 타입을 반환합니다.

print(type(123))  # 출력: <class 'int'>

<class 'int'>

In [48]:
# 31. zip()
# 설명: 여러 iterable의 요소를 묶어 튜플 형태로 반환합니다.

print(list(zip([1, 2], ['a', 'b'])))  # 출력: [(1, 'a'), (2, 'b')]

[(1, 'a'), (2, 'b')]