### 1. 숫자형

In [46]:
# 주석: 프로그램 실행시 실행되지 않습니다(단축키 ctrl + /) 

# 정수형

a = 123
b = -178
c = 0

print(a)
print(b)
print(c)

123
-178
0

In [48]:
# 실수형
a = 1.2
b = -3.45
c = 5.2E2
d = 5.2E-1

print(a, b)
print(c)
print(d)

1.2 -3.45
520.0
0.52

In [50]:
# 8진수와 16진수

a = 0o177
print(a)

b = 0x8ff
print(b)

c = 0xABC
print(c)

127
2303
2748

In [52]:
# 사칙연산

a = 3
b = 4
c = a + b

print(c)
print(a - b)
print(a * b)
print(a / b)

7
-1
12
0.75

In [54]:
print(7 % 3) #나머지
print(7 // 3) #몫
print(a ** b) #제곱

1
2
81

### 2. 문자열

In [56]:
# 문자열을 사용하는 4가지 방법

print("Hello world!")
print('Hello world!')
print("""Hello world!""")
print('''Hello world!''')

Hello world!
Hello world!
Hello world!
Hello world!

In [58]:
# 문자열 안에 작은따옴표나 큰따옴표를 포함
food = "Python's favorite food is perl"
print(food)

say = '"Python is very easy." he says'
print(say)

# 오류발생 - 작은따옴표 안에 작은 따옴표 X
# food = 'Python's favorite food is perl'
# print(food)

# 오류발생 - 큰따옴표 안에 큰 따옴표 X
# say = ""Python is very easy." he says"
# print(say)

Python's favorite food is perl
"Python is very easy." he says

In [60]:
# 역슬래시를 사용해 작은따옴표와 큰 따옴표 표현
food = 'Python\'s favorite food is perl'
print(food)

say = "\"Python is very easy.\" he says"
print(say)

Python's favorite food is perl
"Python is very easy." he says

In [62]:
# 여러 줄인 문자열을 변수에 대입하고 싶을 때

# 1. 이스케이프 코드 사용
multiline = "Life is too short\nYou need python"
print(multiline)

# 2. 작은따옴표 3개, 큰따옴표 3개 이용하기
multiline = '''
Life is too short
You need python
'''
print(multiline)

Life is too short
You need python

Life is too short
You need python

In [80]:
# 문자열 연산

# 1. 문자열 더하기
head = "Python"
tail = " is fun!"
num = 3
body = head + tail
print(body)
print(head + " version"+ str(num)) #숫자와 연산시 str을 이용해 문자열로 변경해줘야함

# 2. 문자열 곱하기
a = "python"
print(a * 2)

print("=" * 50)
print("My Program")
print("=" * 50)

# 3. 문자열 길이
a = "Life is too short"
len(a)

Python is fun!
Python version3
pythonpython
==================================================
My Program
==================================================

17

- 문자열 인덱스
![문자열](https://i.postimg.cc/W44nS9cX/str-index.png)

In [104]:
# 문자열 인덱싱과 슬라이싱 

# 문자열 인덱싱(가르키다)
a = "Life is too short, You need python"
print(a[3])
print(a[0])
print(a[12])
print(a[-1])
print(a[-0])
print(a[-2])
print(a[-5])

print("=" * 50)

# 문자열 슬라이싱(잘라낸다)
a = "Life is too short, You need python"
b = a[0] + a[1] + a[2] + a[3]
print(b)

b = a[0:4]
print(b)
print(a[0:3])

print("=" * 50)

print(a[0:5]) # 공백 포함
print(a[5:7])
print(a[12:17])

print("=" * 50)
print(a[19:])
print(a[:17])
print(a[:])
print(a[19:-7])

e
L
s
n
L
o
y
==================================================
Life
Life
Lif
==================================================
Life
is
short
==================================================
You need python
Life is too short
Life is too short, You need python
You need

In [119]:
#슬라이싱으로 문자열 나누기 응용

a = "20230331Rainy"
date = a[:8]
weather = a[8:]
print(date)
print(weather)

year = a[:4]
day = a[4:8]
print(year)
print(day)

20230331
Rainy
2023
0331

In [12]:
#문자열 바꾸기 응용

a = "Pithon"

# 바꾸는 방법1 - 에러발생
# print(a[1])
# a[1] = 'y' 
# print(a)

print(a[:1])
print(a[2:])
print(a[:1] + 'y' + a[2:])

P
thon
Python

In [26]:
#문자열 포매팅

# 1. 숫자 바로 대입
print("I eat %d apples." % 3)

# 2. 문자열 바로 대입
print("I eat %s apples." % "five")

# 3. 숫자 값을 나타내는 변수로 대입
number = 3
print("I eat %d apples." % number)

# 4. 2개 이상의 값 넣기 
number = 10
day = "three"
print("I eat %d apples. so I was sick for %s days." % (number, day))

# 5. 어떤 값이든 문자로 변환한다
print("I eat %s apples." % 3)
print("I eat %s apples." % 3.234)

I eat 3 apples.
I eat five apples.
I eat 3 apples.
I eat 10 apples. so I was sick for three days.
I eat 3 apples.
I eat 3.234 apples.

In [34]:
# 포맷 코드와 숫자 함께 사용하기

#정렬과 공백
print("%10s" % "hi")
print("%-10s jane." % "hi")

#소수점 표현
print("%0.4f" % 3.42134234)
print("%10.4f" % 3.42134234)

        hi
hi         jane.
3.4213
    3.4213

In [60]:
# format 함수를 사용한 포매팅

# 숫자 바로 대입
print("I eat {0} apples.".format(3))

# 숫자 값을 가진 변수로 대입
number = 3
print("I eat {0} apples.".format(number))

# 2개 이상의 값 넣기
number = 10
day = "three"
print("I eat {0} apples. so I was sick for {1} days.".format(number, day))

# 이름으로 넣기
print("I eat {number} apples. so I was sick for {day} days.".format(number=10, day=3))

# 인덱스와 이름을 혼용해서 넣기
print("I eat {0} apples. so I was sick for {day} days.".format(10, day=3))

# 왼쪽 정렬
print("{0:<10}".format("hi"))

# 오른쪽 정렬
print("{0:>10}".format("hi"))

# 가운데 정렬
print("{0:^10}".format("hi"))

# 공백 채우기
print("{0:=^10}".format("hi"))
print("{0:!<10}".format("hi"))

# 소수점 표현하기
y = 3.42134234
print("{0:0.4f}".format(y))

I eat 3 apples.
I eat 3 apples.
I eat 10 apples. so I was sick for three days.
I eat 10 apples. so I was sick for 3 days.
I eat 10 apples. so I was sick for 3 days.
hi
        hi
    hi
====hi====
hi!!!!!!!!
3.4213

In [94]:
# f문자열 포매팅(파이썬 3.6부터 제공)

name = '홍길동'
age = 30
print(f'나의 이름은 {name} 이고, 나이는 {age}입니다.')
print(f'나의 이름은 {name} 이고, 나이는 {age + 1}입니다.')

#정렬
print(f'{"hi":<10}')
print(f'{"hi":>10}')
print(f'{"hi":^10}')
print(f'{"hi":=^10}')
print(f'{"hi":!<10}')

#소수점
y = 3.42134234
print(f'{y:0.4f}')
print(f'{y:10.4f}')

나의 이름은 홍길동 이고, 나이는 30입니다.
나의 이름은 홍길동 이고, 나이는 31입니다.
hi
        hi
    hi
====hi====
hi!!!!!!!!
3.4213
    3.4213

In [134]:
# 문자열 관련 함수들

# 문자 개수 세기
a = "hobby"
print(a.count('b')) # b의 갯수

# 위치 알려주기1 - find
a = "Python is the best chioce"
print(a.find('a'))
print(a.find('k'))

# 위치 알려주기2 - index
a = "Life is too short"
print(a.index('t'))
# print(a.index('k'))

# 문자열 삽입 
print(",".join('abcd'))


print("="*50)

# 소문자 -> 대문자
a = "hi"
print(a.upper())

# 대문자 -> 소문자
a = "HI"
print(a.lower())

print("="*50)

# 왼쪽 공백 지우기
a = "   hi   "
print(a.lstrip())

# 오른쪽 공백 지우기
a = "   hi   "
print(a.rstrip())

# 양쪽 공백 지우기
a = "   hi   "
print(a.strip())

print("="*50)

# 문자열 바꾸기
a = "Life is too short"
print(a.replace("Life", "Your leg"))

# 문자열 나누기
a = "Life is too short"
print(a.split()) #리스트 형태로 출력

b = "류수영, 이승윤, 유이, 서인국"
print(b.split(","))

2
-1
-1
8
a,b,c,d
==================================================
HI
hi
==================================================
hi
   hi
hi
==================================================
Your leg is too short
['Life', 'is', 'too', 'short']
['류수영', ' 이승윤', ' 유이', ' 서인국']

In [132]:
# !!!착각하기 쉬운 문자열 함수

a = "Life is too short"
a.replace("Life", "Your leg")
print(a)

#문자열 함수 사용시 문자열 자체의 값이 변경되는 것이 아니라 변경된 값을 리턴(전달)해 준다.
b= a.replace("Life", "Your leg")
print(b)

Life is too short
Your leg is too short

### 3. 리스트
- 데이터의 모음을 표현하기 위한 자료형

In [8]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

print(a)
print(b)
print(c)
print(d)
print(e)

[]
[1, 2, 3]
['Life', 'is', 'too', 'short']
[1, 2, 'Life', 'is']
[1, 2, ['Life', 'is']]

In [54]:
#리스트의 인덱싱

a = [1, 2, 3]
print(a[0])
print(a[0] + a[2])
print(a[-1])

print("="*50)

a = [1, 2, 3, ['a', 'b', 'c']]
print(a[0])
print(a[-1])
print(a[3])

print(a[-1][0])
print(a[-1][1])
print(a[-1][2])

print(a[3][0])
print(a[3][1])
print(a[3][2])

1
4
3
==================================================
1
['a', 'b', 'c']
['a', 'b', 'c']
a
b
c
a
b
c

In [56]:
#리스트의 슬라이싱

a = [1, 2, 3, 4, 5]
print(a[0:2])

b = a[:2]
c = a[2:]
print(b)
print(c)

[1, 2]
[1, 2]
[3, 4, 5]

In [58]:
#중첩된 리스트에서 슬라이싱 하기

a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5])
print(a[3])
print(a[3][:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b', 'c']
['a', 'b']

In [68]:
#리스트 연산하기

#리스트 더하기
a = [1, 2, 3]
b = [4, 5, 6]
print(a + b)

#리스트 곱하기
print(a * 3)

#리스트 길이 구하기
print(len(a))

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
3

In [84]:
#리스트 연산 오류
a = [1, 2, 3]
# print(a[2] + "hi") 오류
print(str(a[2]) + "hi")

3hi

In [94]:
# 리스트의 값 수정
a = [1, 2, 3]
a[2] = 4
print(a)

# 리스트의 값 삭제
a = [1, 2, 3]
del a[1]
print(a)

a = [1, 2, 3, 4, 5]
del a[2:] # a[2]부터 끝까지 삭제
print(a)

[1, 2, 4]
[1, 3]
[1, 2]

In [132]:
# 리스트 관련 함수

# 리스트에 요소 추가
a = [1, 2, 3]
a.append(4)
print(a)

a.append([5, 6])
print(a)

# 리스트 정렬
a = [1, 4, 3, 2]
a.sort()
print(a)

a = ['a', 'c', 'b']
a.sort()
print(a)

# 리스트 뒤집기
a = ['a', 'c', 'b']
a.reverse()
print(a)

print("="*50)

# 인덱스 반환
a = [1, 2, 3]
print(a.index(3)) # 3은 a의 세 번째(a[2]) 요소
print(a.index(1)) # 1은 a의 첫 번째(a[0]) 요소

# 리스트에 요소 삽입
a = [1, 2, 3]
a.insert(0, 4) # a[0] 위치에 4 삽입
print(a)

a.insert(3, 5) # a[3] 위치에 5 삽입
print(a)

print("="*50)

# 리스트 요소 제거
a = [1, 2, 3, 1, 2, 3]
a.remove(3) #첫번째 3만 삭제
print(a)
a.remove(3)
print(a)

# 리스트 요소 끄집어 내기
a = [1, 2, 3]
a.pop()
print(a)

# 리스트에 포함된 요소 x의 개수 세기
a = [1, 2, 3, 1]
print(a.count(1)) # 1을 2개 가지고 있음

print("="*50)

# 리스트 확장
a = [1, 2, 3]
a.extend([4, 5])
print(a)

b = [6, 7]
a.extend(b)
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 6]]
[1, 2, 3, 4]
['a', 'b', 'c']
['b', 'c', 'a']
==================================================
2
0
[4, 1, 2, 3]
[4, 1, 2, 5, 3]
==================================================
[1, 2, 1, 2, 3]
[1, 2, 1, 2]
[1, 2]
2
==================================================
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7]

### 4. 튜플
- 리스트는 [], 튜플은 ()사용
- 리스트는 요소값의 생성, 삭제, 수정이 가능하지만 튜플은 요소값을 바꿀 수 없다.
- 프로그램이 실행되는 동안 요소값이 변화하면 안되는 경우는 튜플을 사용하고 그렇지 않은 경우는 리스트를 사용한다.

In [13]:
t1 = ()
t2 = (1,)
# t2 = (1)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

print(t1)
print(t2)
print(t3)
print(t4)
print(t5)

()
(1,)
(1, 2, 3)
(1, 2, 3)
('a', 'b', ('ab', 'cd'))

In [155]:
# 튜플 요소값을 삭제할때
t1 = (1, 2, 'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [157]:
# 튜플 요소값을 변경할때
t1 = (1, 2,'a', 'b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [167]:
# 튜플 다루기

#인덱싱하기
t1 = (1, 2, 'a', 'b')
print(t1[0])
print(t1[3])

1
b

In [169]:
#슬라이싱하기
t1 = (1, 2, 'a', 'b')
print(t1[1:])

(2, 'a', 'b')

In [175]:
# 튜플 더하기
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
print(t3)

#튜플 곱하기
t2 = (3, 4)
t3 = t2 * 3
print(t3)

#튜플 길이 구하기
len(t1)

(1, 2, 'a', 'b', 3, 4)
(3, 4, 3, 4, 3, 4)

4

### 5.딕셔너리
- key, value로 이뤄진 값
- key를 통해 value를 얻는다

In [188]:
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print(dic)

a = {1: 'hi'}
b = {'a': [1, 2, 3]}
c = {'a': (1, 2, 3)}
print(a)
print(b)
print(c)

{'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
{1: 'hi'}
{'a': [1, 2, 3]}
{'a': (1, 2, 3)}

In [21]:
# 딕셔너리 추가
a = {1: 'a'}
a[2] = 'b' # {2: 'b'} 추가
print(a)

a['name'] = 'pey' # {'name': 'pey'} 추가
print(a)

a['list'] = [1, 2, 3] # {'list': [1, 2, 3]} 추가
print(a)

#딕셔너리 수정
a['name'] = 'jack'
print(a)


# 딕셔너리 삭제
del a[1] # key가 1인 값 삭제
print(a)

{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 'name': 'pey'}
{1: 'a', 2: 'b', 'name': 'pey', 'list': [1, 2, 3]}
{1: 'a', 2: 'b', 'name': 'jack', 'list': [1, 2, 3]}
{2: 'b', 'name': 'jack', 'list': [1, 2, 3]}

In [25]:
#딕셔너리 사용하기 - key를 사용해 value를 얻는다

grade = {'pey': 10, 'julliet': 99}
print(grade['pey'])
print(grade['julliet'])

a = {1: 'a', 2: 'b'}
print(a[1])
print(a[2])

10
99
a
b

In [17]:
# 딕셔너리 사용시 주의사항

# key는 중복될 수 없다
a = {1: 'a', 1: 'b'}
print(a)

# key는 변하면 안되는 값이므로 list 사용 X, 튜플 사용 O
# a = {[1,2]: 'hi'}
# print(a)

a = {(1,2): 'hi'}
print(a[(1,2)])

{1: 'b'}
hi

In [276]:
# 딕셔너리 관련 함수

# key 리스트 얻기
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print(a.keys()) # dict_keys반환

for k in a.keys(): # dict_keys객체에서 key값 구하기
    print(k)

print(list(a.keys())) # dict_keys객체를 list로 바꿈

print("="*50)

# value 리스트 구하기
print(a.values())

# key, value 쌍 얻기
print(a.items())

#key, value쌍 모두 지우기
a.clear()
print(a)

print("="*50)

# key로 value얻기
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
print(a.get('name'))
print(a.get('phone'))

print(a.get('nokey')) # None 리턴
# print(a['nokey']) 오류 발생
print(a.get('nokey', 'default')) #값이 없을 경우 디폴트 값 지정

print("="*50)

#해당 key가 딕셔너리 안에 있는지 조사하기
print('name' in a)
print('email' in a)

dict_keys(['name', 'phone', 'birth'])
name
phone
birth
['name', 'phone', 'birth']
==================================================
dict_values(['pey', '010-9999-1234', '1118'])
dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])
{}
==================================================
pey
010-9999-1234
None
default
==================================================
True
False

### 6.집합
- 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형
- set을 사용: 중복허용 X, 순서가 X

In [188]:
#집합 자료형 사용하기
s1 = set([1, 2, 3, 4, 5])
print(s1)

# set의 특징: 중복허용 X, 순서가 없다.
s2 = set("hello")
print(s2)

s3 = set()
print(s3) # 비어있는 자료형

{1, 2, 3, 4, 5}
{'o', 'h', 'e', 'l'}
set()

In [186]:
# 집합 데이터 구하기
# set은 순서가 없기 때문에 인덱스를 통해 요소 값을 얻을 수 없다. -> 값을 얻고 싶다면 리스트나 튜플로 변환 후 값을 얻어야 한다.

s1 = set([1, 2, 3])
list1 = list(s1)
print(list1)
print(list1[0])

tuple1 = tuple(s1)
print(tuple1)
print(tuple[0])

[1, 2, 3]
1
(1, 2, 3)
tuple[0]

In [70]:
# 교집합, 합집합, 차집합 구하기: set에서 가장 유용하게 사용

s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1 & s2) # 교집합
print(s1.intersection(s2)) # 교집합 함수

print(s1 | s2) # 합집합(중복은 제거해서 보여준다)
print(s1.union(s2)) # 합집합 함수

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [72]:
print(s1 - s2) # 차집합
print(s2 - s1) 
print(s1.difference(s2)) # 차집합 함수
print(s2.difference(s1))

{1, 2, 3}
{8, 9, 7}
{1, 2, 3}
{8, 9, 7}

In [78]:
# 집합 관련 함수

s1 = set([1, 2, 3])

#값 추가하기
s1.add(4)
print(s1)

#값 여러개 추가하기
s1.update([4, 5, 6])
print(s1)

# 특정 값 제거하기 
s1.remove(2)
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}
{1, 3, 4, 5, 6}

### 7. 불자료형
- 참과 거짓을 나타내는 자료형
- True: 참, False: 거짓

In [88]:
# 불자료형 사용하기1
a = True
b = False

print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [96]:
# 불자료형 사용하기2
print(1 == 1) # 두 숫자가 같은가? -> 같다(참)
print(1 != 1) # 두 숫자가 같지 않은가? -> 같지않다(거짓)
print(1 > 2) # 1은 2보다 큰가? -> 크지않다(거짓)

True
False
False

In [110]:
# 자료형의 참과 거짓
if 1 == 1:
    print('1과 1은 같다')

if 1 != 1:
    print('1과 1은 같지 않다')

if "hi":
    print('문자열은 true')
    
if [1, 2, 3]:
    print('리스트는 true')

1과 1은 같다
문자열은 true
리스트는 true

In [190]:
#불 함수
print(bool(1 > 2))
print(bool("hi"))
print(bool([1, 2, 3]))
print(bool((1, 2, 3)))
print(bool(0))
print(bool(2))

False
True
True
True
False
True

### 8. 변수

In [192]:
# 변수를 만드는 여러가지 방법

# 여러개의 변수에 한번에 값을 대입
a = b = 'python'
print(a)
print(b)

python
python

In [194]:
# 튜플로 여러개의 변수에 한번에 값을 대입
a, b = ('python', 'life') 
#(a, b) = 'python', 'life'
print(a)
print(b)

python
life

In [196]:
# 리스트로 여러개의 변수에 한번에 값을 대입
a, b = ['python', 'life']
# [a, b] = 'python', 'life'
print(a)
print(b)

python
life